node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
src/pages/axismenu/assets/bio.png
src/pages/axismenu/assets/ex.png
src/pages/axismenu/assets/hum.png
src/pages/axismenu/assets/lin.png
src/pages/bookmenu/html/6c274a9874b9.html
src/pages/bookmenu/html/7fe72068c049.html
src/pages/bookmenu/html/696a71c91436.html
src/pages/bookmenu/html/5430defb1672.html
src/pages/bookmenu/html/796377e7da0e.html
src/pages/bookmenu/html/a75af6bc8793.html
src/pages/bookmenu/html/b86d4359a903.html
src/pages/componentmenu/assets/484c7ec0.png
src/pages/componentmenu/assets/899f0610.png
src/pages/componentmenu/assets/2823bcc0.png
src/pages/componentmenu/assets/4487af26.png
src/pages/componentmenu/assets/6626664c.png
src/pages/componentmenu/assets/b16cb467.png
src/pages/componentmenu/assets/c6c14948.png
src/pages/componentmenu/assets/d8800211.png
src/pages/componentmenu/assets/fd346ca7.png
